header{
    height:15vh;
    h1{
        font-size: 1.5em;
        margin-top: 2%;
        margin-left: 0.3%;
    }
}
mat-form-field{
    margin-right: 15px;
    width: 20vw;
}

.grande{
    width: 40.8vw;
}
form{
    height: 20vh;
    width: 50vw;
    margin-top: -2%;
    margin-left: 0.3%;
}


.relatorio{
    width: 100%;
    font-family: arial;
    th{
        border-bottom: 1px #ccc solid;
        
    }
}
