<<<<<<< HEAD
header{
    height:15vh;
    h1{
        font-size: 1.5em;
    }
}
mat-form-field{
    margin-right: 15px;
    width: 20vw;
    
}
button{
    margin-right: 19px;
}
.grande{
    width: 40.8vw;
}
form{
    height: 40vw;
    width: 50vw;
=======
header{
    height:15vh;
    h1{
        font-size: 1.5em;
    }
}
mat-form-field{
    margin-right: 15px;
    width: 20vw;
}
button{
    margin-right: 19px;
}
.grande{
    width: 40.8vw;
}
form{
    height: 40vw;
    width: 50vw;
>>>>>>> 31e1ea3575f931228b958ed3138bb65a28294a19
}