header{
    height:15vh;
    h1{
        font-size: 1.5em;
    }
}

mat-form-field{
    margin-right: 15px;
    width: 20vw;
    
    
}
button{
    margin-right: 19px;
}
.grande{
    width: 40.8vw;
}
form{
    position: absolute;
    height: 40vw;
    width: 50vw;
}
header{
    height:15vh;
    h1{
        font-size: 1.5em;
    }
}
button{
    margin-right: 19px;
}
.grande{
    width: 40.8vw;
}



.relatorio{
    width: 100%;
    font-family: arial;
    margin-top: 5%;
    position: absolute;
   
    th{
        border-bottom: 1px #ccc solid;
        
    }
}
