<div class="sidebar">
    <img src="/assets/img/POMAR.png" class="topo">
    
    <nav>
        <details class="primero">
            <summary routerLink="/home">Home</summary>
        </details>
        <details>
            <summary>Administração</summary>
            <a routerLink="/cadUsuario">Usuário</a>
            <a href="#edit-material">Material</a>
            <a href="#delete-material">Produto</a>
        </details>
        <details>
            <summary>Pomar</summary>
            <a href="#add-product">Cadastro</a>
            <a href="#edit-product">Movimento</a>
            <a href="#delete-product">Colheita</a>
        </details>
        
    </nav>
    <button><a href="/login" class="Sair">Sair</a></button>
</div>
