body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #f9e6b2;
    width: 268px;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #f0c080;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h1 {
    margin-top: 90%;
    font-size: 52px;
    color: #ffffff;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    
}

.sidebar details {
    margin-left: 10px;
    margin-bottom: 33px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow:0 0 0.1em rgba(255, 83, 3, 0.5);
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
}

.sidebar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
    margin-left: 20px;
    text-shadow:0 0 0.1em rgba(255, 83, 3, 0.5);
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
}

.sidebar a:hover {
    color: #f57905;
}

.sidebar img {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30%;
    margin-top: 2vw;
}

.primero{
    margin-top: 19vw;
}
button{
    border:3px;
    font-size:30px;
    margin-bottom: 10px;
    background-color: #f9e6b2;
}
