
<div class="sidebar">
    <img src="/assets/img/POMAR.png" class="topo">
    
    <nav>
        <details class="primero">
            <summary routerLink="/home">Home</summary>
        </details>
        <details>
            <summary>Administração</summary>
            <a routerLink="/cadUsuario">Usuário</a>
            <a routerLink="/material">Material</a>
            <a routerLink="/produto">Produto</a>
            
        </details>
        <details>
            <summary>Pomar</summary>
            <a routerLink="/pomarcad">Cadastro</a>
            <a routerLink="/movimento">Movimento</a>
            <a routerLink="/colheita">Colheita</a>
            <a routerLink="/arvore">Árvore</a>
        </details>
        
    </nav>
    <button><a href="/login" class="Sair">Sair</a></button>
</div>